body {
    background-color: #b6b5b0f1;
}
.logo  {
    letter-spacing: -1px; 
}

.Diana {
    color: #010101;  
}

.Margareta {
    color: #dbe4f5;
    font-size: 80%;  
}


.Gambarhome{
    margin-top: 40px;
}
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lora';
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size:30px ;
    font-weight: bold;
    float: left;
    font-family: 'Lora';
    
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #5e6f83;
    z-index: 1;
    border: 3px solid rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #87CEEB;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-link {
    font-size: 40px;  
}

.menu-link {
    font-size: 18px;  
    transition: font-size 0.3s ease; 
}

.menu-link:hover {
    font-size: 22px; 
}


section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: right; /* Mengatur agar teks berada di sebelah kanan */
}

h1, h2, h3, .deskripsi {
    font-family: 'comic sans-ms';
    font-weight: bold;
    color: #056c8e;
    margin-bottom: 10px;
}

h1 { font-size: 20px; }
h2 { font-size: 50px; }
h3 { font-size: 50px; }
.deskripsi { font-size: 20px; }

footer {
    padding: 20px;
    color: black;
    
    text-align: center;
    font-weight: bold;
}
